body
{
    text-align: justify;
    background-image: url("tardis.jpg");
}

@font-face
{
    font-family: 'DoctorWhoPolice';
    src: url('Doctor-Who.ttf') format('truetype')
}

h1
{
    text-align: center;
    text-shadow: 3px 3px 10px rgb(58, 53, 53);
    font-family: 'DoctorWhoPolice' ;
    font-size: 100px;
}
li
{
    text-align: justify;
}
.intro
{
    text-align: center;
}
.conteneur1
{
    display: flex;
    text-align: justify;
    width: 75%; 
}
.element=nth-child(1)
{
    margin:auto;
}
.element=nth-child(2)
{
    margin:auto;
}

.rightfloat
{
    width:10%;
    border : 3px green outset;
    float: left;
    margin-top: -4%;
}

li 
{
    color:black solid;
    text-align: left;
    width:70%
}

h3
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}

a
{
    color: orange;
}
a:hover
{
    text-decoration: underline;
    color: red;
}
a:visited
{
    color: rgb(233, 88, 88);
}